{%include 'header.html' %}

    <h3 class="titulo">Nuevo contenedor</h3>
    <div class="contenedor-tabla">
        <table class="table table-bordered">
        <thead class="thead-dark">
        </thead>
        <tbody>
            <tr>
                <th scope="row">ID Contenedor</th>
                <td>
                    <input type="text" class="form-control" placeholder="" name="id_ctn" form="form-ctn">
                </td>
                <th scope="row">Productos por tarima</th>
                <td>
                    <input type="text" class="form-control"
                    name="piezas" form="form-ctn">
                </td>
            </tr>
            <tr>
                <th scope="row">Fecha descarga</th>
                <td>
                    <input type="date" class="form-control" form="form-ctn" name="fecha_descarga">
                </td>
                <th scope="row">Cajas por tarima</th>
                <td>
                    <input type="text" class="form-control" 
                    name="cajas" form="form-ctn">
                </td>
            </tr>
            <tr>
                <th scope="row">ID Proveedor</th>
                <td>
                    <input type="text" class="form-control" name="id_proveedor" form="form-ctn">
                </td>
                <th scope="row">Master Pack</th>
                <td>
                   <input type="text" class="form-control" 
                   name="masterPack" form="form-ctn">
                </td>
            </tr>
            <tr>
                <th scope="row">SKU</th>
                <th class="ctn-input">
                    <form action="/contenedores/arrivo" method="GET" id="form-sku">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder=""
                            id="sku_producto" name="sku_producto">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-busqueda" 
                                    type="submit" id="button-addon2" form="form-sku">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                        </div>
                </form>
                <th scope="row">Tarimas Completas</th>
                <td>
                    <input type="text" class="form-control" name="no_tarimas" form="form-ctn">
                </td>
                </th>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td>
                    <input type="text" class="form-control" 
                    name="nombre" form="form-ctn">
                </td>
                <th scope="row">Resto (Cajas)</th>
                <td>
                    <input type="text" class="form-control" name="resto" form="form-ctn">
                </td>
            </tr>
            <tr>
                <th scope="row">Código de barras</th>
                <td>
                    <input type="text" class="form-control" 
                    name="codigoBarras" form="form-ctn">
                </td>
            </tr>
            <tr>
                <th colspan="4" class="ctn-input">
                    <form action="/contenedores/arrivo" method="POST" id="form-ctn">
                        <input type="hidden" name="skuProducto">
                        <button type="submit" class="btn btn-outline-success" form="form-ctn">
                            Agregar
                        </button>
                    </form>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="contenedor-btn-arrivo">
        
    </div>

{%include 'footer.html' %}