{%include 'header.html' %}

    <h3 class="titulo">Nuevo contenedor</h3>
    <div class="contenedor-tabla">
        <table class="table table-bordered">
        <thead class="thead-dark">
        </thead>
        <tbody>
            <tr>
                <th scope="row">ID Contenedor</th>
                <td>
                    <input type="text" class="form-control" placeholder="" aria-label="Recipient's username">
                </td>
                <th scope="row">Productos por tarima</th>
                <td>
                    <input value="{{ producto.productoTarima}}" type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
            </tr>
            <tr>
                <th scope="row">Fecha descarga</th>
                <td>
                    <input type="date" class="form-control" placeholder="" aria-label="Recipient's username">
                </td>
                <th scope="row">Cajas por tarima</th>
                <td>
                    <input value="{{ producto.cajasTarima}}" type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
            </tr>
            <tr>
                <th scope="row">ID Proveedor</th>
                <td>
                    <input type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
                <th scope="row">Master Pack</th>
                <td>
                   <input value="{{ producto.masterPack}}" type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
            </tr>
            <tr>
                <th scope="row">SKU</th>
                <th class="ctn-input">
                    <form action="/contenedores/arrivo">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder=""
                            id="sku" name="sku_producto" value={{sku}}>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary btn-busqueda" type="button" id="button-addon2">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </button>
                                </div>
                        </div>
                    <!-- <input type="text" id="sku" name="sku_producto" value={{sku}}>
                    <button type="button" class="btn btn-primary">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button> -->
                </form>
                <th scope="row">No. de tarimas</th>
                <td>
                    <input type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
                </th>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td>
                    <input value="{{ producto.nombre}}" type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
                <th scope="row">Resto (Cajas)</th>
                <td>
                    <input type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
            </tr>
            <tr>
                <th scope="row">Código de barras</th>
                <td>
                    <input value="{{ producto.codigoBarras}}" type="text" class="form-control" placeholder="" 
                    aria-label="Recipient's username">
                </td>
                <td colspan="2">
                    <button type="button" class="btn btn-outline-success">Generar información</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="contenedor-btn-arrivo">
        
    </div>

{%include 'footer.html' %}