{%include 'header.html' %}

<title>Arribo Contenedores</title>
<main class="contenedor-formulario">
    <h3 class="titulo">Nuevo contenedor</h3>
    <div class="contenedor-form-grid container">
        <div class="row g-3">
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>ID Contenedor *</label>
                <input type="text" class="form-control input-estilo" placeholder="Ej. VHRT5679125" name="id_contenedor" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Fecha descarga *</label>
                <input type="date" class="form-control input-estilo" form="form-ctn" name="fecha_descarga" placeholder="DD/MM/AAAA">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>ID Proveedor *</label>
                <input type="text" class="form-control input-estilo" placeholder="Ej. P010" name="id_proveedor" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>SKU</label>
                <form action="/contenedores/arrivo" method="GET" id="form-sku">
                    <div class="input-form-append input-buscar">
                        <input type="text" class="form-control input-estilo" placeholder="Ej. HG40C6" id="sku_producto"
                            name="sku_producto">
                        <button class="btn btn-outline-secondary btn-busqueda" title="buscar" type="submit"
                            id="button-addon2" form="form-sku">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Descripción</label>
                <input type="text" class="form-control input-estilo" placeholder="Mesa Plástico" name="descripcion" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Código de barras</label>
                <input type="text" class="form-control input-estilo" placeholder="7500000000000" name="codigo_barras" form="form-ctn">
            </div>
            <!-- <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Piezas por tarima *</label>
                <input type="text" class="form-control input-estilo" min="1" placeholder="50" name="piezas_por_tarima" form="form-ctn">
            </div> -->
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Cajas por tarima *</label>
                <input type="text" class="form-control input-estilo" min="1" placeholder="2" name="cajas_por_tarima" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Master Pack</label>
                <input type="text" class="form-control input-estilo" min="0" placeholder="10" name="piezas_por_caja" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Tarimas completas</label>
                <input type="text" class="form-control input-estilo" min="0" placeholder="30" name="no_tarimas" form="form-ctn">
            </div>
            <div class="input-form col-12 col-md-6 col-lg-4">
                <label>Resto (cajas)</label>
                <input type="text" class="form-control input-estilo" min="0" placeholder="8" name="resto" form="form-ctn">
            </div>
            <div class="container text-center px-0 pt-3 span-input">
                <form action="/contenedores/arrivo" method="POST" id="form-ctn">
                    <input type="hidden" name="sku_producto">
                    <button type="submit" class="btn btn-success" form="form-ctn">
                        Agregar
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>

<!-- Modal -->
<div class="modal fade" id="modalInputError" tabindex="-1" aria-labelledby="miModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="mensaje-Modal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


{%include 'footer.html' %}