{%include 'header.html' %}
<title>Búsqueda Contenedores</title>
<main class="contenedor-formulario">
    <h3 class="titulo">Búsqueda Contenedores</h3>
    <form action="/contenedores/busqueda" id="form_ctn_busqueda" method="GET" class="container ctn-buscar">
        <div class="row justify-content-center">
            <div class="position-relative col-12 col-md-6 mb-2 mb-md-0 px-0">
                <input type="hidden" name="select_ctn" id="select" value="id_contenedor">
                <button name="select-btn" type="button" class="input-estilo w-100 text-center bordes" title="seleccion">
                    <span class="texto-select">ID contenedor</span>
                    <i class="fa-solid fa-caret-down flecha"></i>
                </button>
                <div class="position-absolute nav-opciones ocultar">
                    <button value="id_contenedor" type="button" class="input-estilo w-100">ID Contenedor</button>
                    <button value="fecha_descarga" type="button" class="input-estilo w-100">Fecha Descarga</button>
                    <button value="sku_producto" type="button" class="input-estilo w-100">SKU Producto</button>
                </div>
            </div>
            <div class="col-12 col-md-6 px-0">
                <div class="input-group flex-column flex-md-row">
                    <input type="text" class="form-control input-estilo size-input bordes-entrada mb-2 mb-md-0" id="id_ctn" name="id_ctn"
                        aria-label="identificador-buscar" value="{{contenedorID}}">
                    <button class="btn btn-outline-secondary btn-busqueda mx-auto mx-md-0" type="submit" aria-label="boton-buscar"
                        id="button-addon2">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!--Contenedor de las tarjetas-->
    <div class="container mt-3">
        <div id="contenedor-tarjetas" class="row g-3 justify-content-center">
        </div>
    </div>

    <!--Template de la tarjeta-->
    <template id="template-tarjeta">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card h-100 shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span class="fw-bold" name="id_contenedor"></span>
                    <span class="badge bg-secondary" name="sku_producto"></span>
                </div>

                <div class="card-body">
                    <p class="mb-2 small text-muted text-center" name="descripcion">
                    </p>
                    <div class="row text-center mb-3">
                        <div class="col">
                            <small class="text-muted">No. tarimas</small>
                            <div class="fw-bold" name="no_tarimas"></div>
                        </div>
                        <div class="col">
                            <small class="text-muted">Resto</small>
                            <div class="fw-bold" name="resto_cajas"></div>
                        </div>
                    </div>
                    <div class="row text-center mb-3">
                        <div class="col">
                            <small class="text-muted">Fecha</small>
                            <div class="fw-bold" name="fecha_descarga"></div>
                        </div>
                        <div class="col">
                            <small class="text-muted">Proveedor</small>
                            <div class="fw-bold" name="proveedor"></div>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="" name="btn-detalles" class="btn btn-secondary col-5 mx-auto">Ver tarimas</a>
                    </div>
                </div>
            </div>
        </div>
    </template>
</main>

<!-- Modal -->
<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="miModalLabel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="mensaje-Modal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{%include 'footer.html' %}