{%include 'header.html' %}
<h2 class="titulo">Búsqueda Contenedores</h2>

<div class="input-busqueda-contenedor">
    <form action="/contenedores/busqueda" id="form_ctn_busqueda" method="GET">
        <div class="input-group mb-3">
            <div>
                <input type="text" class="form-control" placeholder="ID contenedor"
                    id="id_ctn" name="id_ctn" value="{{contenedorID}}" form="form_ctn_busqueda">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" 
                        form="form_ctn_busqueda" id="button-addon2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            </div>
        </div>
    </form>
</div>
<div class="ctn-tabla">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha descarga</th>
            <th scope="col">SKU</th>
            <th scope="col">Descripción</th>
            <th scope="col">No. Tarimas</th>
            <th scope="col">Resto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{contenedorID}}</th>
            <td>{{contenedor.id_contenedor}}</td>
            <td>{{contenedor.sku_producto}}</td>
            <td>{{contenedor.fecha_descarga}}</td>
            <td>{{contenedor.proveedor}}</td>
            <td>{{contenedor.no_tarimas}}</td>
            <td>{{contenedor.resto_cajas}}</td>
        </tr>
    </tbody>
    </table>
</div>


{%include 'footer.html' %}