{%include 'header.html' %}

<h2 class="titulo">Búsqueda Productos</h2>

<div class="input-busqueda-contenedor">
    <form action="/productos/infoproducto" method="GET" id="form-sku-busqueda">
        <div class="input-group mb-3">
            <div>
                <input type="text" class="form-control" placeholder="SKU Producto"
                    id="sku_producto" name="sku_producto" value="{{skuProducto}}" form="form-sku-busqueda">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" 
                id="button-addon2" form="form-sku-busqueda">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="ctn-tabla">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Descripción</th>
            <!-- <th scope="col">Código Barras</th> -->
            <th scope="col">Producto/Tarima</th>
            <th scope="col">Cajas</th>
            <th scope="col">Fecha</th>
            <th scope="col">Contenedor</th>
            <th scope="col">Ubicación</th>
        </tr>
    </thead>
    <tbody>
        {% for resultado in resultadoProducto %}
        <tr>
            <th scope="row">{{ resultado.sku_producto }}</th>
            <td>{{ descripcion[0] }}</td>
            <!-- <td>{{ resultado.codigoBarras }}</td> -->
            <td>{{ resultado.piezas }}</td>
            <td>{{ resultado.cajas }}</td>
            <td>{{ resultado.fecha }}</td>
            <td>{{ resultado.contenedor }}</td>
            <td>{{ resultado.ubicacion }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{%include 'footer.html' %}