{%include 'header.html' %}

<h2 class="titulo">Búsqueda Productos</h2>

<div class="input-busqueda-contenedor">
    <form action="/productos/infoproducto" method="GET" id="form-sku-busqueda">
        <div class="input-group mb-3">
            <div>
                <input type="text" class="form-control" placeholder="SKU Producto"
                    id="sku_producto" name="sku_producto" value="{{skuProducto}}" form="form-sku-busqueda">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" title="boton-buscar"
                id="button-addon2" form="form-sku-busqueda">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="ctn-tabla">
<table class="table table-striped">
    <thead>
        <tr id="encabezado">
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
    </table>
</div>
<div id="caja"></div>

<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="miModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="mensaje-Modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{%include 'footer.html' %}