{%include 'header.html' %}

<h2 class="titulo">Búsqueda Productos</h2>

<div class="container">
    <form action="/producto/informacion" method="GET" id="form-sku-busqueda" class="">
        <div class="input-group mb-3 flex-column">
            <div class="mb-2 input-form col-8 col-md-4 mx-auto">
                <input type="text" class="form-control " placeholder="SKU Producto"
                    id="sku_producto" name="sku_producto" value="{{skuProducto}}" form="form-sku-busqueda">
            </div>
            <div class="input-group-append mx-auto">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" title="boton-buscar"
                id="button-addon2" form="form-sku-busqueda">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="table-responsive my-4">
<table class="table table-striped">
    <thead>
        <tr id="encabezado">
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
    </table>
</div>
<div id="caja"></div>

<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="miModalLabel">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="mensaje-Modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{%include 'footer.html' %}