{%include 'header.html' %}

<h2 class="titulo">Búsqueda Productos</h2>

<div class="input-busqueda-contenedor">
    <form action="/productos/infoproducto" method="GET" id="form-sku-busqueda">
        <div class="input-group mb-3">
            <div>
                <input type="text" class="form-control" placeholder="SKU Producto"
                    id="sku_producto" name="sku_producto" value="{{skuProducto}}" form="form-sku-busqueda">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" 
                id="button-addon2" form="form-sku-busqueda">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" value="editar" name="checkEditar" form="form-sku-busqueda" id="checkDefault">
                <label class="form-check-label" for="checkDefault">
                    Editar
                </label>
            </div> -->
        </div>
    </form>
</div>
<div class="ctn-tabla">
<table class="table table-striped">
    <thead>
        <tr id="encabezado">
        </tr>
    </thead>
    <tbody id="tabla">
    </tbody>
    </table>
</div>
<div id="caja"></div>

{%include 'footer.html' %}