{%include 'header.html' %}
<h3 class="titulo">Nuevo Producto</h3>
    <div class="contenedor-tabla producto">
        <table class="table table-bordered">
        <thead class="thead-dark">
        </thead>
        <tbody>
            <form action="/productos/nuevo" id="form-nuevo-producto" method="POST">
                <tr>
                <th scope="row">SKU</th>
                <td>
                    <input type="text" class="form-control" form="form-nuevo-producto" name="skuProducto">
                </td>
                </tr>
                <tr>
                    <th scope="row">Descripción</th>
                    <td>
                        <input type="text" class="form-control" form="form-nuevo-producto" name="descripcion">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Código de barras</th>
                    <td>
                    <input type="text" class="form-control" form="form-nuevo-producto" name="codigo_barras">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Cajas por tarima</th>
                    <td>
                        <input type="text" class="form-control" form="form-nuevo-producto" name="cajas_tarima"> 
                    </td>
                    
                </tr>
                <tr>
                    <th scope="row">Productos por tarima</th>
                    <td>
                        <input type="text" class="form-control" form="form-nuevo-producto" name="producto_tarima">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Master Pack</th>
                    <td>
                        <input type="text" class="form-control" form="form-nuevo-producto" name="master_pack">
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="barra-estado">
                        <button type="submit" class="btn btn-success" form="form-nuevo-producto">
                            <i class="fa-solid fa-circle-plus"></i>
                            Agregar producto
                        </button>
                    </th>
                </tr>
            </form>
        </tbody>
    </table>
    </div>
    <!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Título del modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body" id="mensaje-Modal">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{%include 'footer.html' %}