{%include 'header.html' %}

<title>Nuevo Producto</title>
<main class="contenedor-formulario">
    <h3 class="titulo">Nuevo Producto</h3>
    <div class="container contenedor-form-grid">
        <form action="/productos/nuevo" id="form-nuevo-producto" method="POST">
            <div class="row g-3">
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>SKU</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="skuProducto"
                        placeholder="Ej. HG40C6">
                </div>
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>Descripción</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="descripcion"
                        placeholder="Mesa Plástico">
                </div>
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>Descripción</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="codigo_barras"
                        placeholder="7500000000000">
                </div>
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>Cajas por tarima</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="cajas_tarima" min="1"
                        placeholder="Ej. 5">
                </div>
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>Productos por tarima</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="producto_tarima" min="1"
                        placeholder="Ej. 10">
                </div>
                <div class="input-form col-12 col-md-6 col-lg-4">
                    <label>Master Pack</label>
                    <input type="text" class="form-control input-estilo " form="form-nuevo-producto" name="master_pack" min="1"
                        placeholder="Ej. 2 o N/A">
                </div>
                <div class="col-8 mx-auto">
                    <button type="submit" class="btn btn-success" form="form-nuevo-producto">
                        <i class="fa-solid fa-circle-plus"></i>
                        Agregar
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

<!-- <table class="table custom-rounded table-striped-columns">
        <thead class="thead-dark">
        </thead>
        <tbody>
            <form action="/productos/nuevo" id="form-nuevo-producto" method="POST">
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">SKU</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="skuProducto"
                            placeholder="Ej. HG40C6">
                    </td>
                </tr>
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">Descripción</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="descripcion"
                            placeholder="Mesa Plástico">
                    </td>
                </tr>
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">Código de barras</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="codigo_barras"
                            placeholder="7500000000000">
                    </td>
                </tr>
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">Cajas por tarima</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="cajas_tarima" min="1"
                            placeholder="Ej. 5">
                    </td>

                </tr>
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">Productos por tarima</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="producto_tarima"
                            min="1" placeholder="Ej. 10">
                    </td>
                </tr>
                <tr class="d-flex flex-column flex-md-row">
                    <th class="w-100 w-md-50 align-content-center" scope="row">Master Pack</th>
                    <td class="w-100 w-md-50">
                        <input type="text" class="form-control" form="form-nuevo-producto" name="master_pack" min="1"
                            placeholder="Ej. 2 o N/A">
                    </td>
                </tr>
                <tr>
                    <th colspan="2" id="barra-estado">
                        <button type="submit" class="btn btn-success" form="form-nuevo-producto">
                            <i class="fa-solid fa-circle-plus"></i>
                            Agregar producto
                        </button>
                    </th>
                </tr>
            </form>
        </tbody>
    </table> -->
</div>
<!-- Modal -->
<div class="modal fade" id="modalInput" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="miModalLabel">Título del modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body" id="mensaje-Modal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{%include 'footer.html' %}