{%include 'header.html' %}

<h2 class="titulo">Ubicaciones Productos</h2>

<div class="input-busqueda-contenedor">
    <form action="/productos/ubicaciones" method="GET" id="form-sku-ubicaciones">
        <div class="input-group mb-3">
            <div>
                <input type="text" class="form-control" placeholder="SKU Producto"
                    id="sku_producto" name="sku_producto" value="{{skuProducto}}" form="form-sku-ubicaciones">
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-busqueda" type="submit" 
                id="button-addon2" form="form-sku-ubicaciones">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="ckc-ubicaciones">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="0" name="checkSin" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Sin Ubicación
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" name="checkCon" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        Con Ubicación
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="ctn-tabla">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">SKU</th>
            <th scope="col">Descripción</th>
            <th scope="col">Producto/Tarima</th>
            <th scope="col">Cajas</th>
            <th scope="col">Fecha</th>
            <th scope="col">Ubicacion</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for ubicaciones in resultadoUbicaciones %}
        <tr>
            <th scope="row">{{ ubicaciones.sku_producto }}</th>
            <td>{{ descripcion.nombre }}</td>
            <td>{{ ubicaciones.piezas }}</td>
            <td>{{ ubicaciones.cajas }}</td>
            <td>{{ ubicaciones.fecha }}</td>
            <td>{{ ubicaciones.ubicacion }}</td>
            <td>
                <button type="button" class="btn btn-primary">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{%include 'footer.html' %}