$color-fondo: #1b3061;
$color-fondo-oscuro: #0b132c;
$color-letra: #313131;
$color-letra-clara: #f3f2f2;
$color-fondo-claro: #fafafa;
$color-letra-hover: #487bcc;
$color-fondo-etiquetas: #3e6db8;
$colores-secciones: (
  uno: #0f172a,
  dos: #f3f2f2,
);

// Colores tema oscuro
$color-fondo-oscuro-tabla: #2d3b66;
$color-inputs-oscuro-focus: #3d5088;
$color-fondo: #1b3061;
$color-fuente: #ccc;
$color-borde-input: #89c6e0;