@use "tools/tablas";
@use "tools/inputBuscar";
@use "tools/colores";

.navbar-nav {
  --bs-navbar-active-color: #{colores.$color-letra-hover};
}

body {
  // background: #E8EBF2;
  background-color: colores.$color-fondo-oscuro;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.titulo-pagina:hover {
  color: colores.$color-letra-hover;
}

.icon-titulo {
  width: 2rem;
  padding-right: 0.5rem;
}

.navbar {
  background-color: colores.$color-fondo;
  a {
    font-weight: 500;
    color: colores.$color-letra-clara;
  }
  ul {
    background-color: colores.$color-fondo;
  }
}

.navbar-toggler {
  color: colores.$color-letra-clara;
}

.nav-link:hover {
  color: colores.$color-letra-hover;
}

.contenedor-banner {
  height: 90vh;
  overflow: hidden;
  div {
    img {
      object-fit: cover;
    }
  }
}

.contenedor-banner::after {
  content: "";
  inset: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

.mensaje-inicio {
  align-content: center;
  color: colores.$color-letra-clara;
  z-index: 10;
}

@each $nombre, $color in colores.$colores-secciones {
  .caja-#{$nombre} {
    background-color: $color;
  }
}

.contenedor-imagen {
  background-color: colores.$color-fondo;
}

.justificar-texto {
  text-align: justify;
}

.tarjeta-inicio {
  color: colores.$color-letra;
  background-color: colores.$color-fondo;

  h4 {
    font-weight: 700;
    color: colores.$color-fondo-etiquetas;
  }
  p {
    font-size: 0.8rem;
    color: colores.$color-letra;
  }
}

.footer-page {
  background-color: colores.$color-fondo;
  color: colores.$color-letra;
  font-weight: 600;
  div {
    a {
      text-decoration: none;
      color: colores.$color-letra-clara;
      font-weight: 600;
    }
  }
}
