{%include 'header.html' %}
<title>Contenedores</title>
<h2 class="titulo">Contenedores</h2>

<div class="container row text-center px-0 mx-auto justify-content-evenly">
    <div class="col-8 col-sm-4 p-5 rounded-4 mb-4 d-flex justify-content-evenly nuevo" onclick="window.location.href = '/contenedores/arrivo'">
        <i class="fa-solid fa-pen-to-square fs-1"></i>
        <h4>Nuevo</h4>
    </div>
    <div class="col-8 col-sm-4 p-5 rounded-4 mb-4 d-flex justify-content-evenly busqueda" onclick="window.location.href = '/contenedores/busqueda'">
        <i class="fa-solid fa-magnifying-glass-plus fs-1"></i>
        <h4>Buscar</h4>
    </div>
</div>
{%include 'footer.html' %}