{%include 'header.html' %}
    <input type="text">
    <button>Buscar</button>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Código de barras</th>
                <td><input type="text"></td>
                <td><button>Editar</button></td>
            </tr>
            <tr>
                <th scope="row">Productos por tarima</th>
                <td><input type="text"></td>
                <td><button>Editar</button></td>
            </tr>
            <tr>
                <th scope="row">Cajas por tarima</th>
                <td><input type="text"></td>
                <td><button>Editar</button></td>
            </tr>
            <tr>
                <th scope="row">Master Pack</th>
                <td><input type="text"></td>
                <td><button>Editar</button></td>
            </tr>
            <tr>
                <th scope="row">Descripción</th>
                <td><input type="text"></td>
                <td><button>Editar</button></td>
            </tr>
        </tbody>
    </table>
<table class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">Información</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">ID Contenedor</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th scope="row">Fecha descarga</th>
                <td><input type="date"></td>
            </tr>
            <tr>
                <th scope="row">ID Proveedor</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th scope="row">No. de tarimas</th>
                <td><input type="text"></td>
            </tr>
            <tr>
                <th scope="row">Resto (Cajas)</th>
                <td><input type="text"></td>
            </tr>
        </tbody>
</table>
<button>Generar información</button>
</body>
</html>