    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/dc6efa34d2.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/tarjetas.js') }}" type="module"></script>

    <!-- Paginas de contenedores -->

    {% if request.path == '/contenedores/arrivo' %}
        <script src="{{ url_for('static', filename='js/inserciones/contenedores.js') }}" type="module"></script>
    {% endif %}
    {% if request.path == '/contenedores/busqueda' %}
        <script src="{{ url_for('static', filename='js/consultas/contenedores.js') }}" type="module"></script>
    {% endif %}

    <!-- Paginas de productos -->

    {% if request.path == '/productos/ubicaciones' %}
        <script src="{{ url_for('static', filename='js/consultas/ubicaciones.js') }}" type="module"></script>
        <script src="{{ url_for('static', filename='js/inserciones/ubicaciones.js') }}" type="module"></script>
    {% endif %}
    {% if request.path == '/productos/nuevo' %}
        <script src="{{ url_for('static', filename='js/inserciones/productos.js') }}" type="module"></script>
    {% endif %}
    {% if request.path == '/productos/infoproducto' %}
        <script src="{{ url_for('static', filename='js/consultas/productos.js') }}" type="module"></script>
    {% endif %}
</body>
</html>