<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contenedores.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/productos.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/validaciones.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    <img src="{{ url_for('static', filename='img/cajas.png')}}" alt="" class="icon-titulo">
    Inbound Manager
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link" href="/contenedores">Contenedores</a>
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contenedores/arrivo">Arrivo de contenedor</a></li>
            <li><a class="dropdown-item" href="/contenedores/busqueda">Buscar contenedor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown d-flex align-items-center">
        <a class="nav-link" href="/producto">Productos</a>
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/productos/infoproducto">Buscar producto</a></li>
            <li><a class="dropdown-item" href="/productos/nuevo">Nuevo producto</a></li>
            <li><a class="dropdown-item" href="/productos/ubicaciones">Ubicaciones</a></li>
          </ul>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="/configuracion">Configuración</a>
      </li>
    </ul>
  </div>
</nav>