<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='img/cajas.png')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/css/home.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <a class="navbar-brand mx-4" href="/">
      <img src="{{ url_for('static', filename='img/cajas.png')}}" alt="" class="icon-titulo">
      Inbound Manager
    </a>
    </button>
    <div class="collapse navbar-collapse px-0 justify-content-lg-end mx-lg-4" id="navbarNavDropdown">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown text-center align-items-center">
          <a class="nav-link dropdown-toggle" href="/contenedores" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Contenedores </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contenedores/arrivo">Arrivo de contenedor</a></li>
            <li><a class="dropdown-item" href="/contenedores/busqueda">Buscar contenedor</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-center align-items-center">
          <a class="nav-link dropdown-toggle" href="/producto" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Productos </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/producto/informacion">Buscar producto</a></li>
            <li><a class="dropdown-item" href="/producto/nuevo">Nuevo producto</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown text-center align-items-center">
          <a class="nav-link dropdown-toggle" href="/ubicaciones" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Ubicaciones </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ubicaciones/buscar">Buscar ubicación</a></li>
            <li><a class="dropdown-item" href="/ubicaciones/nueva">Nueva ubicación</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/configuracion">Configuración</a>
        </li>
      </ul>
    </div>
  </nav>