{%include 'header.html' %}
<h2>Maneja todo lo que entra en tu almacen</h2>
<div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fuga, ipsam ex aut excepturi debitis quis ut placeat a culpa repellat? 
        Fugit quas ad vero aliquam saepe nostrum, laborum reiciendis blanditiis?
    </div>
    <div>
        <img src="/app/static/img/deposito.gif" alt="">
    </div>
</div>
<h2>Contenedores</h2>
<div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fuga, ipsam ex aut excepturi debitis quis ut placeat a culpa repellat? 
        Fugit quas ad vero aliquam saepe nostrum, laborum reiciendis blanditiis?
    </div>
    <div>
        <img src="/app/static/img/grua-para-contenedores.png" alt="">
    </div>
</div>
<h2>Productos</h2>
<div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Fuga, ipsam ex aut excepturi debitis quis ut placeat a culpa repellat? 
        Fugit quas ad vero aliquam saepe nostrum, laborum reiciendis blanditiis?
    </div>
    <div>
        <img src="/app/static/img/existencias.gif" alt="">
    </div>
</div>
{%include 'footer.html' %}