{%include 'header.html' %}
<title>Inbound Manager</title>

<main class="container-fluid px-0 d-flex flex-column">

    <section class="container-fluid px-0 position-relative contenedor-banner">
        <div class="w-100 h-100 position-absolute">
            <img src="{{ url_for('static', filename='img/Banner.jpg') }}" alt="banner-inbound"
                class="img-fluid w-100 h-100">
        </div>

        <div class="mensaje-inicio h-100 w-50 m-auto position-relative my-3 text-center">
            <h5>Gestiona tu almacén de forma simple y eficiente</h5>
            <p class="mx-4 mx-md-5 justificar-texto">
                Diseñado para proyectos personales y pequeñas operaciones,
                este sistema te ayuda a mantener claridad en tu almacén,
                reducir errores y trabajar más rápido. Todo sin configuraciones
                eternas ni herramientas innecesarias.
            </p>
            <a href="" class="btn btn-primary">Contenido</a>
        </div>
    </section>

    <template id="tarjeta-inicio">
        <div
            class="container mb-5 text-center col-10 col-md-5 col-lg-3 tarjeta-inicio justify-content-evenly flex-column px-0 shadow bg-body-tertiary rounded">
            <div class="contenedor-imagen py-4 text-center rounded-top">
                <img class="imagen col-4 rounded-3" src="" alt="">
            </div>
            <h4 class="titulo col-12 my-3 text-center"></h4>
            <p class="texto d-flex col-12 px-4 justificar-texto"></p>
            <a href="" class="link btn btn-success col-4 mb-4">Visitar</a>
        </div>
    </template>

    <section
        class="container-fluid row px-0 my-5 m-0 d-flex flex-column flex-md-row justify-content-center justify-content-md-evenly"
        id="contenedor-tarjetas">
    </section>
</main>

{%include 'footer.html' %}