{%include 'header.html' %}
<title>Ubicaciones</title>
<h2 class="titulo">Ubicaciones</h2>

<div class="contenedor-opciones">
    <div class="tarjeta nuevo" onclick="window.location.href = '/ubicaciones/nuevo'">
        <i class="fa-solid fa-pen-to-square"></i>
        <h4>Nuevo</h4>
    </div>
    <div class="tarjeta busqueda" onclick="window.location.href = '/ubicaciones/buscar'">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
        <h4>Buscar</h4>
    </div>
</div>
{%include 'footer.html' %}